@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
.hero-section {
  background-image: url("../images/background-img.png");
  height: 100vh;
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 50px;
}
.navbar-links ul {
  list-style-type: none;
}
.navbar-links ul a li {
  color: black;
  display: inline-block;
  padding: 10px;
}
.navbar-links ul a li:hover {
  border-bottom: 2px solid black;
}
.hero-container {
  display: flex;
  justify-content: space-around;
  height: 500px;
  align-items: center;
}
.hero-text {
  margin-left: 250px;
}
.hero-text h1 {
  font-size: 54px;
  padding: 20px;
}
.hero-text p {
  font-size: 18px;
  margin:20px 0px 0px 30px;
}
.hero-text span {
  color: green;
  font-size: 20px;
  font-weight: 600;
}
.buttons {
  padding: 50px 0 0 30px;
}
.colored-btn {
  width: 128px;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
}
.border-btn {

    width: 128px;
    height: 40px;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}
.colored-btn:hover {
  box-shadow: 2px 2px 3px grey;
}
.border-btn:hover {
  color: white;
  background-color: black;
  box-shadow: 2px 2px 3px grey;
}
.hero-img img {
  height: 1000px;
  padding: auto;
}
.About {
  height: 80vh;
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 50vh;
}
.about-text h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 32px;
}
.about-text p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  width: 1000px;
}
.about-text span {
  font-weight: bold;
  color: green;
}
.big-width {
  width: 170px;
  height: 50px;
  margin-top: 50px;
}

.container{
  width: 50%;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  font-size: 34px;
  padding-bottom: 20px;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
.parallax {
  background-image: url("../images/parrllax-img.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
  position: absolute;
  height: 350px;
  top: 2000px;
  right: 300px;
  left: 250px;
  background-color: white;
  box-shadow: 5px 5px 7px black;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-item {
  padding: 100px;
  margin-right: 50px;
}
.service-item img {
  width: 100%;
  height: 150px;
}
.portfolio {
  margin-top: 200px;
}
.portfolio h1 {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 10px;
  padding: 50px;
  justify-content: center;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

footer {
  background-color: black;
}
footer p {
padding: 40px 0;
color: white;
text-align: center;
}

footer img {
width: 44px;
}
